@use "../../utils//themeConstants";

.cat-grid {
  aspect-ratio: 1;
  width: 100%;
  display: grid;
  gap: 16px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
            "c1 c2 c3"
            "c4 c2 c5"
            "c6 c6 c5";
}

.cat-grid > div {
  border-radius: 10px;
  outline: 2px solid themeConstants.$color-medium;

  background-size: cover;
  background-position: center;
}