@use '../../utils/themeConstants';

.credentials-avatar {
  max-height: 180px;
  object-fit: contain;
  border-radius: 16px;

  @media(max-width: 720px) {
    max-height: 125px;
  }
}

.credentials__main-info-block {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  gap: 4px;

  &__text {
    font-size: 22px;
    line-height: 22px;
  
    @media(max-width: 720px) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &__link-section {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: themeConstants.$color-dark;
    margin-top: auto;
  
    > a {
      color: themeConstants.$color-dark;
      @media (hover: hover) {
        &:hover {
          color: themeConstants.$color-dark-highlight;
        }
      }
  
      @media(max-width: 720px) {
        font-size: 12px;
      }
    }
  }
}