@use '../../utils/themeConstants';

.credentials-avatar {
  max-height: 120px;
  object-fit: contain;
  border-radius: 16px;
}

.credentials__main-info-block {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  gap: 10px;
}

.credentials__main-info-block__credentials-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.credentials__main-info-block__text {
  font-size: 22px;
  white-space: pre-wrap;
  line-height: 22px;
}

.credentials__main-info-block__hh-link-section {
  font-size: 16px;
  white-space: pre-wrap;
  color: themeConstants.$color-dark;
  margin-top: auto;
}

.credentials__main-info-block__hh-link-section > a {
  color: themeConstants.$color-dark;
  white-space: pre-wrap;
  @media (hover: hover) {
    &:hover {
      color: themeConstants.$color-dark-highlight;
    }
  }
}