@use '../../utils/themeConstants';

.credentials-avatar {
  max-height: 270px;
  object-fit: contain;
  border-radius: 16px;

  @media(max-width: 720px) {
    max-height: 125px;
  }
}

.credentials__main {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  gap: 6px;

  &__info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    &__text {
      margin-top: 2px;
      font-size: 20px;
      line-height: 22px;
    
      @media(max-width: 720px) {
        font-size: 18px;
      }
    }
  
    &__links-section {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      justify-self: stretch;
      gap: 8px;
      font-size: 14px;
      line-height: 14px;
      font-weight: 500;
      color: themeConstants.$color-dark;
    
      &__header {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
      }
  
      a {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        color: themeConstants.$color-dark;
  
        @media (hover: hover) {
          &:hover {
            color: themeConstants.$color-dark-highlight;
          }
        }
    
        @media(max-width: 720px) {
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }
}