@use "./utils/themeConstants";

.main-container {
  gap: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: calc(100% - 20px);
  max-width: 720px;

  padding: 10px;
  gap: 10px;

  background: themeConstants.$color-light;
  border-radius: 16px;

  &-row {
    flex-direction: row;
  }
}

.section__title {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;

  @media(max-width: 1080px) {
    font-size: 28px;
    line-height: 28px;
  }
}

.show-below-720 {
  display: none;
  @media(max-width: 720px) {
    display: initial;
  }
}

.show-above-720 {
  display: initial;

  @media(max-width: 720px) {
    display: none;
  }
}